
.navBar {
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}


.logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  background: #090580;
  color: #fff;
}

.logo img {
  margin-left: 20px;
  margin-right: 50px;
}


.navLinks {
  display: flex;
  align-items: center;
}

.navLinks h3 {
  margin-right: 3rem;
}

.navLinks a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.2s;
}

.navLinks a:hover {
  color: #d7ecff;
}


input[type="text"] {
  align-items: center;
  display: flex;
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  font-size: 1rem;
  margin-right: 20px;
  width: 40rem;
}


.loginLink {
  font-size: 1rem;
  font-weight: bold;
  transition: color 0.2s;
}

.loginLink a {
  text-decoration: none;
  color: #fff;
}

.loginLink a:hover {
  color: #9165ef;
}

@media (max-width: 768px) {
  .navBar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navLinks {
    margin-top: 10px;
  }

  .navLinks h3 {
    margin: 10;
  }

}
.loginLink {
  margin-right: 20px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.2s;
}